In [1]:
# Basic Python Syntax :

In [2]:
print("Hello World")

Hello World

In [5]:
print("hello \
python")

hello python

In [6]:
print('Python\'s world')

Python's world

In [7]:
print("""Hello Everyone""")

Hello Everyone

In [9]:
print("usage \t of escape \n sequence")

usage 	 of escape
 sequence

In [11]:
name = 'XYZ'
age = 10
marks = 90.8765
print("The name of person is",name,"age is",age,"marks is",marks)

The name of person is XYZ age is 10 marks is 90.8765

In [12]:
print("The name of person is %s age is %d marks is %f" %(name,age,marks))

The name of person is XYZ age is 10 marks is 90.876500

In [13]:
print("The name of person is %10s age is %10d marks is %10.2f" %(name,age,marks))

The name of person is        XYZ age is         10 marks is      90.88

In [14]:
#variable assignment :

In [15]:
a =10
b =20
print(a)
print(b)

10
20

In [16]:
print(id(a))
print(id(b))

140706493145776
140706493146096

In [17]:
x=y=20
print(x)
print(y)
print(id(x))
print(id(y))

20
20
140706493146096
140706493146096

In [18]:
del(x)
print(x)

NameError: name 'x' is not defined

In [19]:
print(y)

20

In [20]:
#Types of operator:

In [21]:
#1.Arithmetic Operator

In [22]:
a=20
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

30
10
200
2.0
0
2
10240000000000

In [23]:
#2.Comparison Operator

In [24]:
x=10
y=20
print(x==y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x!=y)

False
False
True
False
True
True

In [25]:
#3.Bitwise Operator
x=20
y=10
print(x & y)
print(x | y)
print(~x)
print(~y)

0
30
-21
-11

In [26]:
#4.Logical Operator
x= 30
y= 15
print(x and y)
print(x or y)

15
30

In [27]:
a=1
b=20
a>b

False

In [28]:
a<20 and 10>9

True

In [29]:
n=10
5<9 or n>=10

True

In [33]:
#5.Membership Operator
str1="Python Programming"
str="Python"
print(str in str1)

True

In [34]:
print(str not in str1)

False

In [35]:
#6.Identity Operator
a=10
b=10
a==b

True

In [36]:
a is b

True

In [37]:
a is not b

False

In [38]:
x=1.5
y=1.5
x is y

False

In [40]:
print(id(x))
print(id(y))

2054885712528
2054885713232

In [41]:
#Precedance Rule
print(10+10/20-1*4//20)

10.5

In [42]:
a=-2
b=256
c=256
print(a is b)
print(a is not c)
print(b is c)

False
True
True

In [43]:
a=257
b=257
print(a is b)

False